repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: insert-license
        name: add license for all go files
        description: automatically adds a licence header to all Go files that don't have a license header
        files: \.go$
        args:
          - --comment-style
          - '|//|'
          - --license-filepath
          - .github/LICENSE_HEADER.txt
          - --fuzzy-match-generates-todo
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.10.1  # Use the specific version of golangci-lint
    hooks:
      - id: golangci-lint
      - id: golangci-lint-fmt
  - repo: local
    hooks:
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        pass_filenames: false
